.postContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: flex-start;
  width: 80%;
  border-radius: 0.2rem;
  border: 0.1rem solid lightblue;
}

.postAuthor {
  font-size: 1.2rem;
  font-weight: 600;
}

.postTitle {
  font-weight: 500;
}

.postCreationDateTime {
  display: flex;
  justify-content: flex-end;
  font-size: 0.7rem;
  font-weight: 300;
  width: 100%;
}
